*{
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    width: 220px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.nav-title {
    font-size: 22px;
    font-weight: 600;
    color: #ffffff;
    background-color: #001e60;
    padding: 25px 20px;
    border-right: 1px solid #2b4a8f;
    border-bottom: 1px solid #e5e5e5;
}

.nav-content {
    height: 100vh;
    padding: 20px;
    border-right: 1px solid #e5e5e5;
}

.nav-content ul{
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.nav-content li{
    margin-bottom: 20px;
}

.main{
    margin-left: 220px;
    height: 100vh;
    overflow-y: auto;
}

.main-title{
    position: sticky;
    top: 0;
    background: white;
    z-index: 10;
    font-size: 22px;
    font-weight: 600;
    color: #ffffff;
    background-color: #001e60;
    padding: 25px 30px;
    border-bottom: 1px solid #e5e5e5;
}

.content{
    height: 100vh;
    background-color: #f7f7f7;
    padding: 20px 30px;
}
